body {
  font-family: Montserrat;

}
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}


.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  margin-top: 3%;
  margin-bottom: 3%;

  overflow: hidden;
  background-color: #e5e5e5;
}

img{
  cursor:crosshair;
}
.login {
    padding: 10% 25%;
}
.annotate {
    padding: 10%;
}
nav {
    z-index: 99999999;
}
input[type="checkbox"] {
  transform:scale(1.5, 1.5);
}

.checkbox{
  margin-bottom:3%;
}
.optionBucket{
  font-size: 110%;
}
.dataX,.dataY{
  display:inline-block;
}
